{
  "Logging": {
    "LogLevel": {
      "Default": "Debug",
      "Microsoft.AspNetCore": "Information",
      "Microsoft.EntityFrameworkCore.Database.Command": "Information"
    }
  },
  "ConnectionStrings": {
    "DefaultConnection": "Server=(localdb)\\mssqllocaldb;Database=CompetitiveIntelligenceDb;Trusted_Connection=true;MultipleActiveResultSets=true"
  },
  "JwtSettings": {
    "Secret": "YOUR_JWT_SECRET_MINIMUM_32_CHARACTERS_LONG",
    "Issuer": "CompetitiveIntelligenceAPI",
    "Audience": "CompetitiveIntelligenceFrontend",
    "ExpiryInDays": 7
  },
  "GroqApi": {
    "BaseUrl": "https://api.groq.com/openai/v1",
    "ApiKey": "YOUR_GROQ_API_KEY",
    "Model": "llama3-8b-8192"
  }
}
